@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #b6fcd5;
  color: aliceblue;
}
header {
  margin: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #383838;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}
#new-task-form {
  display: flex;
}
input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color:#00ada9;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: black;
  font-size: 1.25rem;
}
#new-task-submit {
  color: #ff597b;
  font-size: 1.25rem;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
#new-task-submit:hover {
  color: #f07dea;
}
main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.task-list {
  padding: 1rem;
}
.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #50577a;
  margin-bottom: 1rem;
}
#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
#tasks .task .content {
  flex: 1 1 0%;
}
#tasks .task .content .text {
  color: white;
  font-size: 1.25rem;
  width: 100%;
  display: block;
  transition: 0.5s;
}
#tasks .task .content .text::not(:read-only) {
  color: #ff597b;
}

#tasks .task .action {
  display: flex;
  margin: 0 -0.5rem;
}
.task .action button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
}
.task .action button:hover {
  opacity: 0.8;
}
.task .action .edit {
  color: #ff597b;
  font-size: 1.25rem;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
.task .action .delete {
  color: crimson;
}